<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
		<lang name="default">Blockrnd</lang>
    </name>
    <author>
		<lang name="default">Author</lang>
    </author>
    <version>1.0</version>
	<requires>
		<livestreet>1.*</livestreet>
		<plugins>

		</plugins>
	</requires>
    <description>
		<lang name="default">Block "RND topics"</lang>
		<lang name="russian">Блок "Случайные топики"</lang>
    </description>
</plugin>